.add-channel-svg{
    transform: scale(.75);
    transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.add-channel-svg:hover{
    transform: scale(1.2);
    color: #B18FCF;
    cursor: pointer;
}

.add-channel-form{
    display: flex;
    flex-direction: column;
    background-color: #494850;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 270%;
    width: 100%;
}

.new-channel-modal-input{
    padding: 1rem;
    height: 8%;
    width: 45%;
    border-radius: 3px;
    margin: .65rem;
    outline: none;
    border: none;
}

.form-channel-button{
    display: flex;
    margin-top: .65rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 2rem;
    width: 35%;
    background-color: transparent;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    border: 1.5px solid white;
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
}

.form-channel-button:hover{
    border: none;
    background-color: #B18FCF;
}