.add-channel-svg{
    transform: scale(.75);
    transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.add-channel-svg:hover{
    transform: scale(1.2);
    color: #B18FCF;
    cursor: pointer;
}