.channel-name-container{
    background-color: #2C2C34;
    width: 100%;
    min-height: 6vh;
    height: 6vh;
    display: flex;
    color: white;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.287);
    border-left: 1px solid rgba(255, 255, 255, 0.287);
    align-items: center;
    justify-content: space-between;
}

.channel-name-container-container{
    width: 100%;
}

.specific-channel-name{
    margin-left: 1rem;
    display: flex;
    justify-content: center;
}

.channel-drop-down{
    cursor: pointer;
}