.splash-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome-message{
    color: white;
    margin: 1.5rem;
    font-size: 3.5rem;
    font-weight: 150;
    padding: 1rem;
}

.description{
    color: white;
    font-weight: 150;
}

.splash-png{
    margin-top: 2rem;
    width: 20rem;
    position: relative;
    left: 35px;
}