.plus-server-button{
    margin-top: .5rem;
    cursor: pointer;
    transition: all .15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    fill: rgba(248, 248, 255, 0.5);
}

.plus-server-button:hover{
    transform: scale(1.25);
    fill: #B18FCF;
}

.add-server-container{
    display: flex;
    flex-direction: column;
    background-color: #494850;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 270%;
    width: 100%;
}

.new-server-modal-input{
    padding: 1rem;
    height: 8%;
    width: 45%;
    border-radius: 3px;
    margin: .65rem;
    outline: none;
    border: none;
}

.new-server-button{
    display: flex;
    margin-top: .65rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 2rem;
    width: 35%;
    background-color: transparent;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    border: 1.5px solid white;
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
}

.new-server-button:hover{
    border: none;
    background-color: #B18FCF;
}