.plus-server-button{
    margin-top: .5rem;
    cursor: pointer;
    transition: all .25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    fill: ghostwhite;
}

.plus-server-button:hover{
    transform: scale(1.25);
    fill: #B18FCF;
}