.message-box-container{
    background-color: #494850;
    overflow-y: auto;
    height: 100%;
}

.input-container{
    justify-content: center;
    margin: .7rem;
    color: black;
}

.new-message-input{
    width: 95%;
    padding: .4rem;
    border: none;
    outline: none;
    background-color: #676769;
    color: white;
    border-radius: 15px;
    border: 1px solid #9a9a9c
}

.new-message-input::placeholder{
    color: white;
}

.display-messages-container{
    height: 40rem;
    /* width: 80vw;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; */
}

.message{
    width: 95%;
    margin-left: 1rem;
    margin-top: .54rem;
    color: white;
}
